body {
    line-height:1;
    background-image:url("lib2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}
nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}


/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*-------------------------------------------------*/
header
{
    color: black;
height:130px;
width:auto;
background-color:rgb(24, 23, 23);
}
section
{
    margin-top:0px;
    height:700px;
    width:1500px;
    
}
footer
{
    height:82px;
    width:1500px;
    background-color:rgb(255, 255, 255)
}
.logo
{
    float:left;
    padding-left:50px;
    line-height:120px;
}
li a
{
    color:cornsilk;
    text-decoration: none;
}

nav
{
    font-size: large;
    float:right;
    word-spacing: 30px;
    padding:20px;
}
nav li
{
    display: inline-block;
    line-height: 80px;
}

.box
{
    color:cornsilk;
    font-size: 35px; 
    margin:250px 70px 70px 400px;
    width: auto;
    background-position: center;
    background-color:black;
    
}
/*---------------------student login-----------------*/
section .log_in
{
    height:650px;

    background-image:url("images/login.png");
    background-size:700px 700px;
    background-repeat:no-repeat;
    background-position:center;
    filter:blur(0.9);
    
}
section .login_box {
    height:340px;
    width:390px;
    margin-top: 0cm;
    margin-bottom:70px; 
    margin-left: 535px;
    background-color:white;
    font-size: 70px;
    padding:20px;
   font-size: 30px; 
   text-align: center;
}

.login_box {
    position: relative;
    top : 100px;
    opacity:0.9;
}


