<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>AddBook</title>
    <link rel="stylesheet" href="static/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body>
        <div class="main1">
            <form method="post">
                <div class="login">
                    <h1>Book Details</h1>
                    {% for field in fields %}
                    <div class="input-field">
                        <label for="">{{field}}</label>
                        <input type="text" name="{{field}}" placeholder="{{field}}">
                    </div>
                    {% endfor %}
                    <button type="submit" class="submit">ADD</button>
                </div>
            </form>
        </div>
    </body>
</html>
