<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>AddUser</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body>
        <div class="main1">
            <form method="post">
                <div class="login">
                    <h1>User Details</h1>
                    <div class="input-field">
                        <label for="">User Name</label>
                        <input type="text" name="USER NAME" placeholder="USER NAME">
                    </div>
                    <div class="input-field">
                        <label for="">Roll Number</label>
                        <input type="text" name="ROLL NUMBER" placeholder="ROLL NUMBER">
                    </div>
                    <div class="input-field">
                        <label for="">Department</label>
                        <input type="text" name="DEPARTMENT" placeholder="DEPARTMENT">
                    </div>
                    <div class="input-field">
                        <label for="">E-Mail</label>
                        <input type="e-mail" name="E-MAIL" placeholder="E-MAIL">
                    </div>
                    <div class="input-field">
                        <label for="">Password</label>
                        <input type="password" name="PASSWORD" placeholder="PASSWORD">
                    </div>
                    <button class="submit">ADD</button>
                </div>
            </form>
        </div>
    </body>
</html>
