<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Books List</title>
    <link rel="stylesheet" href="style1.css">
    <style>
        table, th, td {
          border: 3px solid black;
        }
    </style>
  </head>
    <body>
        <div class ="table">
            <table align="center">
                <caption><h3>BOOK DETAILS</h3></caption>
            <tr>
              <th bgcolor="white">BOOK NAME</th>
              <th bgcolor="white">AUTHOR NAME</th>
              <th bgcolor="white">BOOK ID</th>
            </tr>
            <tr>
              <td bgcolor="white">ODE</td>
              <td bgcolor="white">TKV Iyengar</td>
              <td bgcolor="white">1397</td>
            </tr>
            <tr>
                <td bgcolor="white">CV</td>
                <td bgcolor="white">Gonderlians</td>
                <td bgcolor="white">3874</td>
            </tr>
            <tr>
                <td bgcolor="white">SE</td>
                <td bgcolor="white">Sommervile</td>
                <td bgcolor="white">0984</td>
            </tr>
            <tr>
                <td bgcolor="white">AP</td>
                <td bgcolor="white">PK Palanisamy</td>
                <td bgcolor="white">2094</td>
            </tr><tr>
                <td bgcolor="white">PPS</td>
                <td bgcolor="white">McGraw-Hill</td>
                <td bgcolor="white">0283</td>
            </tr><tr>
                <td bgcolor="white">ED</td>
                <td bgcolor="white">ED Pearson</td>
                <td bgcolor="white">6484</td>
            </tr><tr>
                <td bgcolor="white">EC</td>
                <td bgcolor="white">A.Jaya Shree</td>
                <td bgcolor="white">1346</td>
            </tr>
            <tr>
                <td bgcolor="white">DSA</td>
                <td bgcolor="white">Ellis Horowitz</td>
                <td bgcolor="white">1864</td>
            </tr>
            <tr>
                <td bgcolor="white">COA</td>
                <td bgcolor="white">David A.Patterson</td>
                <td bgcolor="white">3755</td>
            </tr>
            <tr>
                <td bgcolor="white">ML</td>
                <td bgcolor="white">Ethem Alpaydin</td>
                <td bgcolor="white">8364</td>
            </tr>  
          </table> 
        </div>
    </body>
</html>
