<HTML>
    <head>
      <link href="admin_login.html" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <title>DASHBOARD</title>
      <link rel="stylesheet" type="text/css" href="style1.css">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1"></head>
    <body>
       <header>
          <div class="logo">
           <h1 style="color:black;font-size: 60px;">WEB LIBRARY</h1>
          </div>
        </header> 
    <div class="b">
          <div style="height:100px;width:100%;margin:5px">
            <li><a href=" "class="btn" id="home">Add a Book</a></li>
          </div>
          <div style="height:100px;width:100%;margin:5px">
            <li>
              <a href=" " class="btn" id="home">Add a User</a>
            </li>
          </div>
          <div style="height:100px;width:100%;margin:5px">
            <li><a href=" " class="btn" id="home">BookList</a>
            </li>
          </div>
          <div style="height:100px;width:100%;margin:5px">
            <li><a href=" " class="btn" id="home">Search Books</a></li>
          </div>
    </div>
    <div class="l">
      <form align="right" name="form1" method="post" action="log_out.php">
        <label class="logoutLblPos">
        <input name="submit2" type="submit" id="submit2" value="log out">
        </label>
      </form>
    </div>
    </body>
</HTML>
    