<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Online libarry management system</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <div class="wrapper">
       <header>
        <div class="logo">
            <h1 style="color:cornsilk;font-size: 30px;">WEB LIBRARY</h1>
        </div>
        <div class="ref">
            <nav>
                <ul>
                    <li><a href="index.html" id="home">HOME</a></li>
                    <li><a href="" id="home">BOOKS</a></li>
                    <li><a href="student_login.html" id="home">STUDENT-LOGIN</a></li>
                    <li><a href="" id="home">ADMIN-LOGIN</a></li>
                </ul>
            </nav>
        </div>
       </header>
       <section>
            <div class ="box">
                <h1 style="text-align:center;"><b>WELCOME OUR LIBRARY</b> <br><b>MANAGEMENT SYSTEM</b></br></h1>
            </div>
       </section>
       </div>
    </body>
</html>
