<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Online libarry management system</title>
        <link rel="stylesheet"  href="static/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <div class="wrapper">
        {% include 'header.html' %}
       <section>
            <div class ="box">
                <h1 style="text-align:center;"><b>WELCOME TO OUR LIBRARY</b> <br><b>MANAGEMENT SYSTEM</b></br></h1>
            </div>
       </section>
       </div>
    </body>
</html>