<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>ISSUE Trace</title>
    <link rel="stylesheet" href="static/style1.css">
    <style>
        table, th, td {
          border: 3px solid black;
        }
    </style>
  </head>
    <body>
        <div class ="table">
            <table align="center">
                <caption><h3>ISSUE DETAILS</h3></caption>
            <tr>
              {% for field in fields %}
              <th bgcolor="white">{{field}}</th>
              {% endfor %}
              <th bgcolor="white">OPERATION</th>
            </tr>
            {% for issue in issues %}
            <tr>

              {% for col in issue %}
              <td bgcolor="white">{{col}}</td>
              {% endfor %}
              <form action="/return" method="post">
                <input type="hidden" name="ISSUE ID" value="{{issue[0]}}">
               <td> <button type="submit">return</button></td>
              </form>
              
            </tr>
            {% endfor %} 
          </table> 
        </div>
    </body>
</html>
