<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            #fp
            {
                color:blue;
                font-size:large;
                text-decoration:underline;
            }
            .fp:hover
            {
                text-decoration:underline;
            }
            #home
            {
                color:black;
            }
        </style>
        <title>
            student login
        </title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
       <header>
        <div class="logo">
            <h1 style="color: white;font-size: 30px;">WEB LIBRARY</h1>
        </div>
            <nav>
                <ul>
                    <li><a href="index.html" id="home">HOME</a></li>
                    <li><a href="" id="home">BOOKS</a></li>
                    <li><a href="student_login.html" id="home">STUDENT-LOGIN</a></li>
                    <li><a href="" id="home">ADMIN-LOGIN</a></li>
                </ul>
            </nav>
       </header>
       <section>
        <div class="log_in">
            <div class="login_box">
                <h1 style="text-align:center;color:black">Login</h1><br>
                <form name="login" action="" method="">
                    <input type="text" name="username" placeholder="college Id" required=""><br><br>
                    <input type="password" name="password" placeholder="Password" required=""><br><br>
                    <button>Login</button>
                </form><br><br>
                <p style =text-align:center>
                    <a href="" id="fp" >Forgot password</a>
                </p>
            </div>
        </div>
       </section>
       <footer>

       </footer>
    </body>
</html>