<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="static/style1.css">
    <style>
        table, th, td {
          border: 3px solid black;
        }
    </style>
  </head>
    <body>
        <div class ="table">
            <table align="center">
                <caption><h3>USER DETAILS</h3></caption>
            <tr>
              {% for field in fields %}
              <th bgcolor="white">{{field}}</th>
              {% endfor %}
              <th bgcolor="white">REMOVE</th>
              

            </tr>
            {% for stu in students %}
            <tr>

              {% for col in stu %}
              <td bgcolor="white">{{col}}</td>
              {% endfor %}
              <form action="/delete_user" method="post">
                <input type="hidden" name="USER ID" value="{{stu[0]}}">
               <td> <button type="submit">DELETE</button></td>
              </form>
              
            </tr>
            {% endfor %} 
          </table> 
        </div>
    </body>
</html>
